#admintable #table.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }

.admin{
  background: orange;
}
#admintable{
    margin-left: 45%;
    width: 200%;
    margin-top: 20%;

}
  #admintable #customers td, #customers th {
    border: 3px solid #000000;
    padding: 8px;
    text-align: center;
  }
  
  #admintable #customers tr:nth-child(even){
    background-color: #000000;
    color: white;
}
  
  #admintable #customers tr:hover {background-color: #f6ff00;}
  
  #admintable #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

table{
    width: 100%;
}


.btncreate{
    background-color: black; 
    border: none;
    color: white;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20%;
    margin-left: 38%;
}

.btnupdate{
    background-color: black; 
    border: none;
    color: white;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 10%;
}

.btndelete{
    background-color: black; 
    border: none;
    color: white;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 20%;
  
}
